<div class="welcome-container">
  <div class="welcome-img">
    <img
      src="/assets/mother-and-child.jpg"
      alt="mother-and-child"
      class="hover-img"
    />
  </div>
  <div class="welcome-content">
    <h2 class="heading">WELCOME<span class="underline-heading"></span></h2>
    <p>
      Able Options Pty Ltd offers variety of support services for people living
      in the North and Northwest coast of Tasmania, we are also located in
      Brisbane and its environs. We support Self-Managed and Plan-Managed
      participants. At Able Options, empowering vulnerable and person living
      with disability to reach their optimal goal is what we pride ourselves
      with, including providing support across all ages and abilities.
    </p>
  </div>
</div>
