<div class="our-values-container">
  <div class="our-values-img">
    <img src="/assets/plant.jpg" alt="planting tree" />
  </div>
  <!--  -->
  <div class="our-values-content">
    <h2 class="heading">OUR VALUES</h2>
    <!--  -->
    <div class="our-values-content-points">
      <h3>Respect</h3>
      <p class="text-size">
        We listen to you and hear what you say while encouraging independence
        and respect your views, opinions and decision
      </p>
    </div>
    <!--  -->
    <div class="our-values-content-points">
      <h3>Honesty</h3>
      <p class="text-size">
        We are trustworthy, we keep to our words of delivering the highest
        quality care we can.
      </p>
    </div>
    <!--  -->
    <div class="our-values-content-points">
      <h3>Confidentiality</h3>
      <p class="text-size">
        We believe in privacy and confidentiality which is of the utmost
        importance to you and our organisation.
      </p>
    </div>
  </div>
</div>
