.content-2 {
    padding: 15px ;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .content-2 h2 {
    border-left: 4px solid var(--primary_color);
    padding-left: 10px;
    color: var(--primary_color);
    font-size: 35px;
  }
  
  .content-2-img img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  
  .content-2-content {
    width: 60%;
  }
  .content-2-points {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  @media screen and (max-width: 600px) {
    .content-2 {
      flex-direction: column;
    }
    .content-2-content {
      width: 100%;
    }
    .content-2-img {
      width: 100%;
    }
  }