<footer>
  <div class="container footer-content">
    <div class="top">
      <div class="logo">
        <img alt="able-options-logo" src="/assets/logo.png" />
      </div>
      <div class="bottom-links">
        <ul class="content-1">
          <li class="title">Quick Links</li>
          <li>
            <a routerLink=""> Home </a>
          </li>
          <li>
            <a routerLink="about"> About </a>
          </li>
          <li>
            <a routerLink="ndis"> NDIS </a>
          </li>
          <li>
            <a routerLink="services"> Services </a>
          </li>
          <li>
            <a routerLink="Team"> Team </a>
          </li>
          <li>
            <a routerLink="contact-us"> Contact Us </a>
          </li>
        </ul>
        <ul class="content-2">
          <li class="title">Contact us</li>
          <li>
            <a>level 1/21 Best St BASS HOUSE, Devonport TAS 7310 </a>
          </li>
          <li>
            <a>03 64207541 </a>
          </li>
          <li>Mondays - Fridays 9:00 AM - 5:00 PM</li>
          <li>Service Hours: 24/7</li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright 2024 ©Powered by Provider Digital</p>
      <a href="#">Sitemap </a>
    </div>
  </div>
</footer>
