footer {
  color: #ffff;
}
footer .bottom {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  padding: 20px;
  width: 100%;
}
footer .top {
  display: flex;
  background-color: var(--primary_color);
  padding: 20px;
}
footer .top {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
footer .top ul {
  width: 35%;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .top .title{
    font-size: 20px;
    font-weight: 400;
}

 a:hover {
  transition: all 0.5s;
  color: var(--secondary_color);
}
a {
  transition: all 0.5s;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

.logo {
  height: auto;
  width: 30%;
  max-width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }
  footer .top {
    flex-direction: column;
  }
  footer .top ul {
    width: 100%;
  }
  .logo {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom{
    flex-direction: column;
    
  }
}
