<header>
  <div class="hide" id="blur-box"></div>
  <nav [class]="{'scrolled': isScrolled}">
    <div class="logo-container" routerLink="">
      <img src="assets/able-options-logo.webp" />
    </div>
    <div class="menu">
      <div class="menu-btn" >
        <img [src]="menuIcon" alt="menu" (click)="toggleMenu()"/>
      </div>
      <ul class="menu-content show" id="menu">
        <li class="link"><a routerLink="" >Home</a></li>
        <li class="link"><a  routerLink="about">About</a></li>
        <li class="link"><a  routerLink="ndis">NDIS</a></li>
        <li class="link"><a  routerLink="services">Services</a></li>
        <li class="link"><a  routerLink="team">Team</a></li>
        <li class="link"><a  routerLink="contact-us">Contact Us</a></li>
        
      </ul>
    </div>
    <div class="ndis-img-container">
      <img src="assets/ilovendis-png.webp" />
    </div>
    
  </nav>
</header>
