section{
    position: relative;
    padding-bottom: 20px;
}
.about-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-mission{
    background-color: var(--primary_color);
    border-radius: 20px;
    padding: 10px;
}
/* .image-slide{
    height: 60vh;
    max-height: 500px;
} */