.slider-container {
  height: 90vh;
  max-height: 900px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.slides {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.slider {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  transition: ease-in-out 500ms;
}

.controls {
  position: absolute;
  display: flex;
  top: 50%;
  bottom: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  height: fit-content;
}
.controls button {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}
.controls button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
/* hero section styles */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  text-align: center;
  backdrop-filter: blur(2px);
  width: fit-content;
  height: fit-content;
}
.hero-overlay {
  width: 100%;
  opacity: 0.7;
  background-image: linear-gradient(to right, #56006d, #760097ae, #ffffff00);
}
.hero-section h1 {
  font-size: 40px;
  color: var(--gray);
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-weight: 800;
}
.call-button {
  padding: 10px 20px;
  height: 50px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  width: 100%;
  max-width: 150px;
  background-color: #582f61;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .hero-section h1 {
    font-size: 35px;
  }
  .content-1-top p {
    text-align: justify;
  }
  .slider-container {
    max-height: 400px;
  }

  .call-button {
    font-size: 16px;
    padding: 10px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .slider-container {
    padding-left: 0;
    max-height: 250px;
  }
  .hero-section h1 {
    font-size: 30px;
    max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .hero-section h1 {
    font-size: 26px;
  }
  .controls button {
    height: 40px;
    width: 40px;
  }
  .controls {
    padding: 0 5px;
  }
}
@media screen and (max-width: 350px) {
  .hero-section h1 {
    font-size: 27px;
    font-weight: 700;
  }
  .controls button {
    height: 35px;
    width: 35px;
  }
}
