<div class="slider-container relative">
  <div class="hero-overlay h-full absolute left-0 top-0"></div>
  <div class="slides">
    <div
      class="slider"
      *ngFor="let image of images; let i = index"
      [ngStyle]="{
        'background-image': 'url(' + image + ')',
        transform: 'translateX(' + -100 * currentIndex + '%)'
      }"
    ></div>
  </div>
  <div
    class="text-white p-4 flex justify-center flex-col w-full h-fit min-sm:pb-20 z-10 max-w-[450px] max-sm:max-w-60"
  >
    <h1 class="font-bold flex flex-col mb-4">
      <span class="text-5xl max-sm:text-2xl tracking-wide"> EXCELLENCE &</span>
      <span class="text-7xl max-sm:text-4xl"> PRECISION </span>
    </h1>
    <p class="text-xl max-sm:text-xs">
      Able options Pty Ltd offers variety of support services for people living
      in the North and the Northwest coast of Tasmania
    </p>
  </div>
  <!-- <div class="controls">
    <button (click)="prevImage()"><img src="assets/back.png" /></button>
    <button (click)="nextImage()"><img src="assets/forward.png" /></button>
  </div> -->
</div>
