.our-mission-container {
  display: flex;
  gap: 20px;
  min-height: 400px;
  align-items: center;
}
.our-mission-img-container {
  overflow: hidden;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 300px;
}

.heading {
  border-left: 6px solid var(--primary_color);
  padding-left: 10px;
  color: var(--primary_color);
  font-size: clamp(30px, 3vw, 42px);
  font-weight: 800;
  margin-bottom: 5px;
}
.our-mission-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.content p {
  text-align: center;
  color: rgb(69, 67, 67);
}
.our-mission-img-container img {
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .our-mission-container {
    flex-direction: column-reverse;
  }
  .our-mission-content p {
    width: 100%;
  }
  .our-mission-content {
    width: 100%;
  }
  .our-mission-content h2 {
    font-size: 28px;
  }
  .our-mission-img-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .our-mission-content p {
    text-align: center;
  }
  .heading {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
  }
}
