<div class="our-mission-container">
  <div class="our-mission-content">
    <h2 class="heading">OUR MISSION</h2>
    <p class="content text-size">
      Working in partnership with community, business, government and to strive
      for excellence in meeting the holistic needs of our clients through the
      provision of high quality supportive, recreational, cultural, sporting and
      welfare programs.
    </p>
  </div>
  <div class="our-mission-img-container">
    <img [src]="image" [alt]="image.split('.')[0]" />
  </div>
</div>
