.our-mission-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
  border-radius: 20px;
  padding: 10px;

}
.our-mission-container h2 {
  font-size: 35px;
  border-left: 4px solid white;
  padding-left: 10px;
  width: 100%;
}
.our-mission-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: fit-content;
  
}
.our-mission-content p {
  line-height: 26px;
}
.our-mission-img-container {
  overflow: hidden;
  height: auto;
  width: 50%;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .our-mission-container {
    flex-direction: column-reverse;
  }
  .our-mission-content {
    width: 100%;
  }
  .our-mission-content h2 {
    width: 100%;
  }
  .our-mission-img-container {
    width: 100%;
  }
}
