<section>
  <app-image-side></app-image-side>
  <div class="contents">
    <p style="text-align: center">Our Services includes but not limited to:</p>
    <!-- COMMUNITY ACCESS -->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>COMMUNITY ACCESS</h2>
        <p>
          At Able Options, we understand how crucial it is to derive
          satisfaction from one’s daily activities. We also recognise that no
          two people are alike. With this in mind, we provide both center-based
          and community-based services with limitless possibilities. You tell us
          what you like to do, and we will work with you to create a plan.
        </p>
      </div>
    </div>
    <!-- PERSONAL CARE-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>PERSONAL CARE</h2>
        <p>
          Our participants who require support with personal care are assisted
          in a respectful and dignified way in helping them to maximise their
          independence. With utmost care, our caring and dedicated support
          professionals provides support where necessary whilst also promoting
          independence and functional skill of the participant with activities
          of daily living such as Assist with shower, grooming, toileting,
          eating and drinking etc, and we tailor all personal care services
          according to participants individualised plan.
        </p>
      </div>
    </div>

    <!--SUPPORTED LIVING-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>SUPPORTED LIVING</h2>
        <p>
          Supported independent living provides you with flexibility, giving you
          control over the type and level of care or support needed either now
          or in the long-term.
        </p>
        <p>
          Our team of professional support workers provides support in assisting
          you to live independently as best as possible with our skills and
          professionalism, to aid you in becoming more independent in achieving
          your set goals by collaborating with you, families and support
          networks in identifying the right type and amount of support needed to
          reach your goal with our model of care (your care, your way) because
          you matter.
        </p>
        <p>
          We also focus on developing the skills of everyone to live as
          autonomously as possible.
        </p>
      </div>
    </div>
    <!--SOCIAL SUPPORTS-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>SOCIAL SUPPORTS</h2>
        <p>
          At Able options we offer our participants to community inclusion such
          as shopping, outings and recreational activities tailored to their
          needs. We encourage our participants by providing social supports to
          improve their health and wellbeing and working together as to
          determine what social support suits their needs.
        </p>
        <p>
          Our activity plans are centred on social, and community access as well
          the development of life skills.
        </p>
      </div>
    </div>

    <!--COMMUNITY PARTICIPATION-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>COMMUNITY PARTICIPATION</h2>
        <p>
          We at Able Options enjoy the excitement that comes from getting our
          clients involved in community events. We continually look for
          possibilities for our clients to be involved in community-based
          activities, from going on daily walks to attending movies and other
          social settings with the community.
        </p>
      </div>
    </div>

    <!--DOMESTIC ASSISTANCE/HOUSEHOLD TASK-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>DOMESTIC ASSISTANCE/ HOUSEHOLD TASK</h2>
        <p>
          Our professional support workers support participants with household
          and domestic activities such as cleaning, vacuuming, dusting in
          assisting participants to maintain a clean and safe environment, which
          aims to reduce stress and boost individual confidence.
        </p>
      </div>
    </div>

    <!--TRAVEL / TRANSPORTATION-->
    <div class="card">
      <div class="card-img">
        <img
          src="assets/Group-of-people-playing-cards.jpg"
          alt="Group-of-people-playing-cards"
        />
      </div>
      <div class="card-content">
        <h2>TRAVEL / TRANSPORTATION</h2>
        <p>
          Our clients are safely transported between their everyday activities,
          such as grocery shopping, and any personal appointments, such as
          doctor visits, medication pick-up or work-related transport.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <p>
          We would love to hear from you! At Able Options, our mission is to
          collaborate with the community, businesses, and government to meet the
          holistic needs of our clients. We are dedicated to excellence and
          offer a range of high-quality programs, including supportive,
          recreational, cultural, sporting, and welfare initiatives.
        </p>
        <p>
          Our team is passionate about serving our clients and creating a
          positive impact. Together, we can make a difference in the lives of
          those we support.
        </p>
        <p>
          Contact us today and let’s work together towards fulfilling our
          mission of meeting the holistic needs of our clients with excellence.
        </p>
        <button class="contact-us">Contact Us</button>
      </div>
    </div>
  </div>
</section>
