@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
}
@layer components {
  .text-size {
    @apply max-sm:text-sm text-lg;
  }
}
.primary-color {
  background-color: #56006b;
}
.red-border {
  border: 1px solid red;
}
:root {
  --primary_color: #56006b;
  --secondary_color: #770097;
  --text_primary: rgb(46, 46, 46);
  --gray: #f3f3f3;
}
body {
  scroll-behavior: smooth;
  overflow-y: auto;
  width: 100%;
  position: relative;
}
.large-text {
  font-size: 40px;
  font-weight: 800;
}
main {
  padding-top: 90px;
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
}
img {
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1140px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container button {
  display: flex;
  justify-content: center;
}

.image-slide {
  height: 400px;
}
p {
  font-size: 18px;
  line-height: 28px;
}
@media screen and (max-width: 600px) {
  h2,
  h3 {
    font-size: clamp(25px, 30px, 35px);
  }
  .image-slide {
    height: 200px;
  }
}
