  .content-1 {
    background-color: #616388;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px;
  }
  .content-1 .content-1-top {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    gap: 10px;
    text-align: center;
    max-width: 800px;
  }
  .content-1 .content-1-top h2 {
    font-size: 40px;
  }
  .content-1 .content-1-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .content-1 .content-1-bottom h2 {
    font-size: 40px;
    border-left: 4px solid white;
    padding-left: 10px;
    width: 50%;
  }
  .content-1-bottom-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    width: 100%;
    width: 50%;
    font-size: 20px;
  }
  .content-1 .content-1-img-container {
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
    max-width: 500px;
  }
  
  @media screen and (max-width: 600px) {
    .content-1 .content-1-bottom h2 {
      font-size: 35px;
    }
    .content-1 .content-1-bottom {
      flex-direction: column-reverse;
    }
    .content-1 .content-1-bottom-content {
      width: 100%;
    }
    .content-1 .content-1-bottom-content h2 {
      width: 100%;
    }
  }
  