section {
  display: flex;
  flex-direction: column;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content,
.content-1,
.content-2,
.content-3 {
  padding: 30px;
}
.content-1 {
  background-color: var(--primary_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  color: white;
  text-align: center;
  line-height: 32px;
}
.content-1 p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.content-2 {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-3 {
}

@media screen and (max-width: 800px) {
  .content-1-top h2 {
    font-size: 30px;
    font-weight: 700;
  }
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 25px;
  }

  .hero {
    max-height: 350px;
    min-height: 100px;
  }
}
