<section>

  <div class="hero">
    <app-slider></app-slider>
  </div>
  <div class="home-main-content">
    <div class="content-1">
      <div class="content-1-top container">
        <h2>WELCOME</h2>
        <p>
          Able Options Pty Ltd offers variety of support services for people
          living in the North and Northwest coast of Tasmania, we are also
          located in Brisbane and its environs. We support Self-Managed and
          Plan-Managed participants. At Able Options, empowering vulnerable and
          person living with disability to reach their optimal goal is what we
          pride ourselves with, including providing support across all ages and
          abilities.
        </p>
      </div>
      <div class="container">
        <app-our-mission image="assets/woman.webp"></app-our-mission>
      </div>
    </div>
    <div class="content-2">
      <div class="container">
        <app-our-values></app-our-values>
      </div>
    </div>
    <div class="container">
      <app-content-three></app-content-three>
    </div>
  </div>
</section>
