section {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  width: 100%;
}
.hero h1 {
  font-size: 40px;
  color: var(--primary_color);
  width: 100%;
  max-width: 600px;
  padding: 10px;
}
.hero button {
  padding: 8px 20px;
  height: 50px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  width: 100%;
  max-width: 150px;
  background-color: #582f61;
  color: white;
  border-radius: 10px;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content-1 {
  background-color: #616388;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 50px 0;
}
.content-1-top {
  margin: 20px 0;
  color: white;
  text-align: center;
  line-height: 30px;
  padding: 0 20px;
  
}
.content-1-top p{
  max-width: 800px;
  margin-left: auto;
  margin-right:auto ;
}
.content-1-top h2 {
  font-size: 45px;

  padding: 25px;
}
.content-2 {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 35px;
  }
.content-1-top p{
  text-align: justify;
}

}